<h1>Test Select Dinamic</h1>


<div id="projects">
    <%= collection_select(:project, :name, @projects, :id, :name, prompt: 'Selecionar
    Proyecto') %>
</div>


<div id="activities"></div>

<div id="tasks"> </div>


<script type="text/javascript">
   $(document).ready(function(){
      $('#project_name').on('change', function() {
          $.ajax({
             url: "<%= activities_options_path %>",
             type: "POST",
             data: { project_id: $(this).val() }
          });
       });

      $('#activity_name').on('change', function() {
          $.ajax({
             url: "<%= tasks_dinamic_path %>",
             type: "POST",
             data: { activity_id: $(this).val() }
          });
       });
    });
</script>
